* {
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

body {
    background-color: #ccc;
    color: #333;
	font-family: 'Trebuchet MS', 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
}

.page-header h1 {
    color: #888;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    border-radius: 2em;
    font-size: 170%;
    padding: 0.3em;
    margin-left: -0.3em;
    margin-right: -0.3em;
}

.page-header p.lead {
	color: #555;
    font-style: italic;
}
