* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    background-color: #333;
    color: #CCCCCC;
}


.page-header h1 {
    background-color: #906;
    border-radius: 2px;
    padding: 0.3em;
    margin-left: -0.3em;
    margin-right: -0.3em;
}

.page-header p.lead {
	color: #999;
    font-style: italic;
}
