---
layout: page
title: ratopi's Blog (Drafts)
description: More thoughts to make and do
image: blog
---
{% for post in site.posts %}
<div class="post-preview">
	<a href="{{ post.url }}">
		<h2 class="post-title">
			{{ post.title }}
			{% if post.draft == true %}<small><i>*** Draft ***</i></small>{% endif %}
		</h2>

		<h3 class="post-subtitle">
			{{ post.abstract }}
		</h3>
	</a>

	<!-- TODO -->
	<p class="post-meta">Posted by {{ post.author }} on {{ post.date | date_to_long_string }}</p>
</div>
<hr>
{% endfor %}

<hr>
<ul>
{% for post in site.pages %}
<li>{{post.title}} / {{post.url}}</li>
{% endfor %}
</ul>
<hr>
