---
layout: default
---
<section class="hero">
  <h1>{{ page.title }}</h1>
  <p class="subtitle">{{ page.description }}</p>
  {{ content }}
</section>
{% if page.selected %}
<div class="container selected-writings">
  <h2>Selected Writings</h2>
  <ul>
    {% for item in page.selected %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if page.selected_projects %}
<div class="container selected-writings">
  <h2>Recently Updated Projects</h2>
  <ul>
    {% for item in page.selected_projects %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

