{% include header.html %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/img/{{page.image}}.jpeg')">
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="site-heading">
					<h1>{{page.title}}</h1>
					<hr class="small">
					<span class="subheading">{{page.description}}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			{{content}}
		</div>
	</div>
</div>

{% include footer.html %}
